.main {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100vh;
    border: 1px solid pink;
}
.column {
    display: table-cell;
    border: 1px solid blue;
}
.row {
    display: block;
    border: 1px solid white;
    background-color: #da39a3;
}


.testes {
    height: 300px;
    width: 300px;
    background-color: red;
}

#picture-frame {
    border: 5px solid black;
    height: 500px;
    width: 700px;
    padding:0;
}
#cell-container-box {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    /*background: white;*/
    /*overflow: hidden;*/
    /*display: hidden; show with hangChristmasLights() */
    /*padding-left: 3px;*/
}
.cell {
    display: inline-block;
    /*border: 1px solid red;*/
    /*border-radius: 50%;*/
    /*margin-left: 2px;*/
    /*margin-right: 2px;*/
    margin: 0;
    padding: 0;
    height: 100%;
    /*margin-bottom: 3px; dunno why need this spacer*/
}